*{
    padding:0.5em;
}

body{
    border:2px solid black;
    display:flex;
    flex-direction: column;
}

#footer{
    border:2px solid seagreen;
}

h1{
    border:2px solid salmon;
    border-radius: 1em;
    background-color: rgba(229, 150, 200, 0.275)
}

h2{
    text-align: center;
}

.object{
    border:2px solid black;
    border-radius: 3em;
    margin-bottom:1em;
}